:root {
    --gray: #f4e6d7;
    --black: #080809;
    --orangish: #f62700;
    --skills--border: #ff9d89;
    --all-page-bg-color: #f4e6d7;
    --white: #fff;
}

* {
    font-family: "Bebas Neue", sans-serif;
}

::-moz-selection {
    background-color: black;
    color: #fff;
}

::selection {
    background-color: black;
    color: #fff;
}


ul,
li {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;

}

a:focus,
a:hover {
    text-decoration: none;
}

p {
    margin-bottom: 5px;
}

section {
    padding-top: 200px;
    padding-bottom: 200px;
}

svg,
img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}


/* **********************************************************************/
/* **********************************************************************/
/* **********************************************************************/
/* **********************************************************************/


:root {
    --bg-theme: black;
    --border-line: #0000004f;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--orangish);
    border-radius: 6px;
    border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}







/* loader-cover */
#loader-cover {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--gray);
    /* background-color: black; */
}

#loader-cover .loader1 {
    width: 80%;
    height: 80%;
    background-color: var(--orangish);
    z-index: 101;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#loader-cover .loader2 {
    background-color: var(--gray);
    width: 75%;
    height: 75%;
    z-index: 102;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}







body {
    background-color: var(--gray);
    color: var(--black);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}


header {
    z-index: 99;
    mix-blend-mode: difference;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px 0;
    display: flex;
    position: fixed;
    inset: 0% 0% auto;
}

header .h-left,
.h-center,
.h-right {
    color: var(--gray);
    letter-spacing: .5px;
    text-transform: uppercase;
    font-family: "Aspekta 500", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
}

header .h-center h1 {
    font-weight: bold;
    font-size: 2.5vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -18px);
    letter-spacing: 3px;
}

header .h-center h1 a {
    color: var(--all-page-bg-color);
    text-decoration: none;
    z-index: 105;

}





/* fixed-social-right */
.fixed-social-right {
    position: fixed;
    bottom: 35px;
    right: 40px;
    mix-blend-mode: difference;
    z-index: 90;
}

.fixed-social-right ul li {
    list-style-type: none;
    text-align: end;
}

.fixed-social-right ul li a {
    text-decoration: none;
    color: var(--all-page-bg-color);
}

/* hover  */
.fixed-social-right a:hover {
    text-decoration: underline;
}

/* fixed-contact-left */
.fixed-contact-left {
    position: fixed;
    bottom: 35px;
    left: 40px;
    mix-blend-mode: difference;
    z-index: 90;
}

.fixed-contact-left ul li a {
    text-decoration: none;
    color: var(--all-page-bg-color);
}

/* hover  */
.fixed-contact-left ul li:first-child a:hover {
    text-decoration: underline;
}

.fixed-contact-left ul li:nth-child(2) a:hover i {
    display: inline-block;
    /* transform: rotate(5deg); */
    transform: translate3d(40%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    transition: 0.3s;
}




/* banner */

section#banner {
    z-index: 30;
    background-color: var(--gray);
    position: relative;
    padding: 0;
}
section#banner h2 {
    font-size: 30vw;
    line-height: 0px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -150px);
    padding: 0;
    margin: 0;
    z-index: 1;
}




section#banner .hero-grid {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    width: 100%;
    height: 102svh;
    display: grid;
}

section#banner #w-node-adb605da-d5f8-13a7-2acb-f5ee6baa3e55-6ce38c21 {
    order: -9999;
    grid-area: 1 / 4 / 2 / 10;
    place-self: center;
}

section#banner .hero-image-wrap {
    z-index: 10;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

section#banner .hero-image-inner {
    aspect-ratio: 3 / 2;
    object-fit: fill;
    width: 100%;
    position: relative;
    overflow: clip;
}

section#banner .hero-mask-1 {
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    inset: 0% 0% 0% auto;
    overflow: clip;
}

section#banner .hero-image-1 {
    width: 50vw;
    position: absolute;
    inset: 0% 0% 0% auto;
}

section#banner .cover-image {
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    height: 100%;
}

section#banner .hero-display-wrap {
    width: 100%;
    padding-bottom: 14px;
    position: relative;
    overflow: clip;
}

section#banner .hero-text {
    color: var(--black);
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    bottom: -1.2svh;
}

section#banner .hero-text-embed {
    width: 100%;
    height: 100%;
}









/* ÷introduction */

section#introduction h3 {
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
    letter-spacing: 10px;
}




/* work  */
section#work {
    background-color: black;
    border-radius: 50px 50px 0 0;
}

section#work h3 {
    font-size: 10vh;
    font-weight: bold;
    text-align: center;
    letter-spacing: 10px;
    color: var(--all-page-bg-color);
    margin-bottom: 200px;
}

section#work img {
    margin-bottom: 27px;
    width: 100%;
    clip-path: inset(0 0 100% 0);
}

section#work .all-work-btn {
    text-align: center;
}

section#work .all-work-btn a {
    font-size: 4vw;
    color: var(--orangish);
    text-decoration: none;
}

section#work .all-work-btn a:hover i {
    display: inline-block;
    /* transform: rotate(5deg); */
    transform: translate3d(40%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    transition: 0.3s;
}




/* about */
section#about h3 {
    font-size: 10vh;
    font-weight: bold;
    text-align: center;
    letter-spacing: 10px;
    color: var(--black);
    margin-bottom: 200px;
}

section#about h4 {
    width: 50%;
    font-size: 5vw;
    font-weight: bold;
    letter-spacing: 10px;
    color: var(--black);
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
}

section#about h5 {
    font-size: 7vh;
    /* font-size: 5vw; */
    font-weight: bold;
    letter-spacing: 10px;
    color: var(--black);
    text-align: center;
}

section#about .abt-content-main {
    margin-top: 50px;
}

section#about .col-md-4 h6 {
    font-size: 1.5vw;
    text-align: center;
}

section#about .col-md-4 img {
    clip-path: inset(0 0 100% 0);
}












/* skills÷ */
section#skills {
    padding-top: 0;
}

section#skills .skills-txt {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

section#skills h3 {
    font-size: 7vh;
    font-weight: bold;
    letter-spacing: 10px;
    color: var(--black);
}

section#skills h4 {
    font-size: 1.5vw;
    color: var(--black);
}


section#skills .toolbox-item-grid {
    /* border-top: 1px solid var(--skills--border); */
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

section#skills .toolbox-single-item.first {
    background-color: var(--all-page-bg-color);
    margin-top: 0px;
}

section#skills .toolbox-single-item {
    border-right: 1px solid var(--skills--border);
    border-bottom: 1px solid var(--skills--border);
    /* background-color: #080808; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 214px;
    display: flex;
    position: relative;
}

section#skills .toolbox-single-item:nth-child(1),
section#skills .toolbox-single-item:nth-child(2),
section#skills .toolbox-single-item:nth-child(3),
section#skills .toolbox-single-item:nth-child(4) {
    border-top: 1px solid var(--skills--border);
}

section#skills .toolbox-single-item:nth-child(1) {
    border-top: none;
}

/* skills-left-border÷ */
section#skills .skills-left-border {
    border-left: 1px solid var(--skills--border);
}

section#skills .w-inline-block {
    max-width: 100%;
    display: flex;
}

section#skills a {
    text-decoration: none;
    transition: color .4s;
}



section#skills .converted-a:hover .toolbox-item-bg {
    background: var(--orangish);
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg) !important;
    transform-style: preserve-3d;
    transition: 0.5s;
}

section#skills .converted-a:nth-child(11):hover .toolbox-item-bg,
section#skills .converted-a:nth-child(5):hover .toolbox-item-bg,
section#skills .converted-a:nth-child(4):hover .toolbox-item-bg {
    background: var(--all-page-bg-color);
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg) !important;
    transform-style: preserve-3d;
    transition: 0.5s;
}

section#skills .converted-a:nth-child(11),
section#skills .converted-a:nth-child(5),
section#skills .converted-a:nth-child(4) {
    background: var(--orangish);
    color: var(--all-page-bg-color);
}

section#skills .converted-a:nth-child(11) svg path,
section#skills .converted-a:nth-child(11) i,
section#skills .converted-a:nth-child(5) i,
section#skills .converted-a:nth-child(4) i {
    color: var(--all-page-bg-color);
    fill: var(--all-page-bg-color);
}



section#skills .toolbox-item-content {
    z-index: 1;
    position: relative;
}

section#skills .icon-1x1-xlarge {
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    font-size: 56px;
    line-height: 1;
    text-decoration: none;
    display: flex;
}

section#skills .icon-1x1-xlarge i {
    color: var(--orangish);
    /* color: white; */
}

section#skills .converted-a:hover .icon-1x1-xlarge i {
    color: var(--all-page-bg-color);
}

section#skills .converted-a:nth-child(11):hover svg path,
section#skills .converted-a:nth-child(11):hover i,
section#skills .converted-a:nth-child(5):hover i,
section#skills .converted-a:nth-child(4):hover i {
    color: var(--orangish);
    fill: var(--orangish);
}

section#skills .toolbox-item-bg {
    z-index: 0;
    background-color: #2e2e2e;
    position: absolute;
    inset: 0%;
}

section#skills .converted-a:hover svg path {
    fill: var(--white);
}




/* ÷plus */
section#skills .plus-icon-line._1 {
    border-top: 1px solid var(--orangish);
    width: 14px;
    top: 6px;
    left: 0;
}

section#skills .plus-icon-line._2 {
    border-left: 1px solid var(--orangish);
    height: 14px;
    top: 7px;
    left: 7px;
    transform: translate(-50%, -50%);
}

section#skills .plus-icon-line {
    position: absolute;
}


section#skills .plus-icon-wrap.top-right {
    left: auto;
    right: -7px;
}

section#skills .plus-icon-wrap {
    z-index: 1;
    width: 14px;
    height: 14px;
    position: absolute;
    inset: -7px auto auto -7px;
}

section#skills .plus-icon-wrap.bottom-left {
    top: auto;
    bottom: -8px;
    left: -7px;
}

section#skills .last-box {
    border-right: 1px solid var(--all-page-bg-color);
    border-bottom: 1px solid var(--all-page-bg-color);
}















/* ÷footer */
footer {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer h3 {
    font-size: 6vw;
    color: var(--gray);
    width: 80%;
    text-align: center;
}

footer a {
    color: var(--orangish);
    font-size: 3.5vw;
    text-decoration: none;
}

footer a:hover i {
    display: inline-block;
    /* transform: rotate(5deg); */
    transform: translate3d(40%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    transition: 0.3s;
}














/* individual-page-work  */
section#individual-page-work {
    background-color: black;
    padding: 120px 30px;
}

section#individual-page-work h3 {
    font-size: 10vw;
    font-weight: bold;
    text-align: center;
    letter-spacing: 10px;
    color: var(--all-page-bg-color);
    padding: 300px 0;
}

section#individual-page-work img {
    margin-bottom: 27px;
    width: 100%;
    clip-path: inset(0 0 100% 0);
}



















/* contact page */
section#contact {
    height: 100vh;
    width: 100%;
    /* padding-bottom: 0; */
}

section#contact .container {
    width: 100%;
    height: 100%;
}

section#contact .container .row {
    width: 100%;
    height: 100%;
}

section#contact .container .contact-img {
    height: 100%;
    text-align: center;
}

section#contact .container .contact-img img {
    clip-path: inset(0 0 0% 0);
}

section#contact .get-in-touch-txt {
    width: 100%;
}

section#contact .get-in-touch-txt h6 {
    font-size: 10vh;
}

section#contact .get-in-touch-txt a {
    text-decoration: none;
    color: var(--orangish);
    font-size: 3vh;
    display: block;
}

section#contact .get-in-touch-txt a i {
    color: var(--orangish);
}

section#contact img {
    object-fit: cover;
    /* width: 100%; */
    /* max-width: 100%; */
    height: 100%;
}

section#contact .say-hi {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    z-index: -1;
}

section#contact .say-hi svg {
    width: 80%;
}

































/* **********************************************************************/
/* **********************************************************************/
/* **********************************************************************/
/* **********************************************************************/


/* **********************************
******  CSS MEDIA QUERIES ********* 
************************************/

/* Start of Design for Small Desktops */
@media screen and (max-width: 1900px) {
    section#about .col-md-4 h6 {
        font-size: 2.5vw;
    }

    /* skills */
    section#skills h4 {
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 1440px) {}


@media screen and (max-width: 1250px) {
    section#about h5 {
        font-size: 5vw;
    }

    /* skills */
    section#skills h3 {
        font-size: 5vw;
    }
}

/* End of Design for Small Desktops */


/* Start of Design for Tablets */
@media screen and (max-width: 1200px) {}




@media screen and (max-width: 991px) {
    section#banner .hero-image-inner {
        aspect-ratio: 3 / 3;
    }

    section#banner .hero-image-1 {
        width: 83.4vw;
    }

    section#banner #w-node-adb605da-d5f8-13a7-2acb-f5ee6baa3e55-6ce38c21 {
        order: -9999;
        grid-area: 1 / 2 / 2 / 12;
        place-self: center;
    }

}

@media screen and (max-width: 900px) {

    /* header */
    header {
        flex-direction: column;
        padding: 25px 40px 0;
    }

    header .h-left {
        margin-bottom: 40px;
    }

    header .h-center h1 {
        transform: translate(-50%, -32px);
    }



    .fixed-contact-left {
        display: none;
    }

    .fixed-contact-left,
    .fixed-social-right {
        display: none;
    }
}

@media screen and (max-width: 850px) {

    footer h3 {
        font-size: 7.5vw;
    }

    footer a {
        font-size: 5.5vw;
        margin-top: 20px;
    }

}

@media screen and (max-width: 767px) {



    section#banner h2 {
        font-size: 30vw;
        line-height: 0px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -80px);
        padding: 0;
        margin: 0;
        z-index: 1;
    }


    section#introduction {
        padding-top: 15px;
    }


    /* about */
    section#about h5 {
        font-size: 7vw;
        margin-top: 10px;
    }

    section#about .col-md-4 h6 {
        width: 80%;
        margin: auto;
        font-size: 4.5vw;
    }



    /* individual-page-work */
    section#individual-page-work h3 {
        padding: 200px 0;
    }



    /* skills */
    section#skills h3 {
        font-size: 7vw;
        /* text-align: center; */
    }

    section#skills h4 {
        /* text-align: center; */
        font-size: 4.5vw;
        margin-bottom: 30px;
    }











    /* individual-page-work */
    section#individual-page-work {
        padding: calc(var(--bs-gutter-x) * .5);
    }










    /* contact-page */
    section#contact .get-in-touch-txt {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    section#contact .contact-img {
        display: none;
    }

}

/* End of Design for Tablets */



@media screen and (max-width: 670px) {}


/* Start of Design for Mobile Phones */
@media screen and (max-width: 576px) {

    section#banner .hero-image-inner {
        aspect-ratio: 2 / 3;
    }

    footer h3 {
        font-size: 7.5vw;
    }

    footer a {
        font-size: 5vw;
    }




    /* individual-page-work */
    section#individual-page-work h3 {
        padding: 120px 0;
    }
}

/* End of Design for Mobile Phones */



@media screen and (max-width: 576px) {}



@media screen and (max-width: 490px) {

    section#about h4 {
        width: 65%;
    }

}